.presentation {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: var(--background-color);
}

.mainBlock {
    display: flex;
    flex-direction: row;
    gap: 0;
    width: 100vw;
    height: 100vh;
}