.leftBar {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-x: hidden;

    height: 87vh;
    min-width: 404px;
    padding: 24px;
    gap: 12px;
    
    border-right: 1px solid rgba(24, 24, 24, 0.18);
}

.miniSlide {
    box-sizing: border-box;
    min-width: 356px;
    min-height: 200px;

    cursor: pointer;
    border: 1px solid rgba(24, 24, 24, 0.18);
    transition: border 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out;
}

.activeSlide {
    border: 2px solid #4c88f0;
    box-shadow: rgba(100, 100, 111, 0.2) 0 0 4px 4px;
}