:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(12 12 12);
  background-color: rgb(230 230 230);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

:root[data-theme="light"] {
  --background-color: rgba(235, 235, 235);
  --menu-backround-color: rgba(215, 215, 215);
  --sidebar-backround-color: rgba(225, 225, 225);
  --text-color: rgba(0, 0, 0, 0.6);
  --button-color: rgba(225, 225, 225);
  --icon-color: #4c88f0;
  --editor-backround: rgba(225, 225, 225);
}

:root[data-theme="dark"] {
  --background-color: rgba(0, 0, 0, 0.6);
  --menu-backround-color: rgba(0, 0, 0, 0.45);
  --sidebar-backround-color: rgba(0, 0, 0, 0.3);
  --text-color: rgb(241, 238, 238);
  --button-color: rgba(255, 255, 255, 0.3);
  --icon-color: rgb(255, 241, 199);
  --editor-backround: rgb(148, 144, 144);
}


body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}