.slideArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1284px;
    height: 724px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.slide {
    position: relative;
    box-sizing: border-box;
    width: 1284px;
    height: 724px;
    border: 2px solid rgb(24 24 24 / 18%);
}