.miniSlide {
    min-width: calc(1280px * 0.3);
    min-height: calc(720px * 0.3);
    cursor: pointer;
    box-shadow: rgb(100 100 111 / 20%) 0 0 4px 4px;
    transition: box-shadow 300ms ease-in-out;
}

.slidePreview {
    width: calc(100% / 0.3);
    height: calc(100% / 0.3);
    position: relative;
    box-sizing: border-box;
    margin: auto;
    background: var(--slide-editor-backround);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transform: scale(0.3, 0.3);
    transform-origin: 0 0;
}

.activeSlide {
    box-shadow: rgb(100 100 111 / 80%) 0 0 5px 5px;
}

.selectedSlide {
    box-shadow: #4C88F0 0 0 4px 4px;
}

.activeAndSelectedSlide {
    box-shadow: rgb(59 59 194 / 70%) 0 0 5px 5px;
}