.colorButton {
  width: 26px;
  height: 26px;
  font-size: 25px;
  text-align: center;

  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(24 24 24 / 38%);
  transition : border 180ms ease-in-out;
}

.colorButton:hover {
  border: 1px solid rgb(24 24 24 / 88%);
}