.leftBar {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-x: hidden;

    height: 87vh;
    min-width: 432px;
    padding: 24px;
    gap: 12px;
    
    border-right: 1px solid rgba(24, 24, 24, 0.18);
}

.miniSlide {
    min-width: calc(1280px * 0.3);
    min-height: calc(720px * 0.3);

    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0 0 4px 4px;
    transition: box-shadow 300ms ease-in-out;
}

.activeSlide {
    box-shadow: #4c88f0 0 0 4px 4px;
}