.leftBar {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-x: hidden;
    height: 87vh;
    min-width: 432px;
    padding: 24px;
    gap: 12px;
    border-right: 1px solid rgb(24 24 24 / 18%);
}