.menuBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    background-color: var(--menu-backround-color);
    box-shadow: rgb(0 0 0 / 25%) 0 0 15px 0;
}